Package: jp.ashikase.libcrashreport
Name: libcrashreport
Version: 1.1.0
Description: Library to parse and symbolicate crash reports.
    This library is based upon CrashReporter by kennytm.
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 3.0)
Depends: jp.ashikase.libsymbolicate (>= 1.9.0), jp.ashikase.libpackageinfo
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libcrashreportData
Homepage: http://github.com/ashikase/libcrashreport
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <support@ashikase.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Development
Tag: role::developer
dev: ashikase
